.jobs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

    input {
        width: 100%;
        padding: 16px;
        border-radius: 5px ;
        border:1px solid lightgray;

        font-family: Inter;
    }
}


.card_list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 0;
}

.card {
    width: 820px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid lightgray;
    border-radius: 20px;
    list-style: none;
    padding: 24px;

    h4 {
        font-size: 22px;
        font-weight: bold;
    }
}

.apply_btn {
    width: 145px;
    padding: 12px 16px;
    background: #0070FF;
    border: none;
    color: #fff;
    border-radius: 10px;
    margin-top: 18px;
    font-weight: bold;
}


.form_edit {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btns {
        display: flex;
        gap: 5px;
    }
}

.accept {
    width: 145px;
    color: #fff;
    padding: 12px 16px;
    background: #0dc64e;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}

.reject {
    width: 145px;
    padding: 12px 16px;
    background: #ff0000;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}

.cancel {
    width: 145px;
    padding: 12px 16px;
    background: gray;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    color: #fff;
}